.dark {
    --background: #09090B;
    --card: #232325;
    --border: #323435;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #09090B;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:white;
}
#text{
    height: 20px;
}

.card {
    background-color: #232325;
    margin: 0;
    padding: 20px;
    width: 50vw;
    min-height: 30vh;
}



/*Setup the blinking sidebar*/
div.container > h1:after{
    content: "";
    /*The width is the actual sidebar thickness.*/
    width: 2px;
    /*The height fits to the text*/
    height: 100%;
    background-color: black;
    /*Position the sidebar at the right of the text*/
    position: absolute;
    right: 0;
    top: 0;
    /*Apply the blinkking animation looping in 2 steps: visible -> hidden.*/
    animation: blink 1s infinite steps(2, start);
}

/*Create the blinking animation by simply hide the element.*/
@keyframes blink {
    to{
        visibility: hidden;
    }

}
