.main-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}



/*Setup the blinking sidebar*/
.main-container > h1:after{
    content: "";
    /*The width is the actual sidebar thickness.*/
    width: 2px;
    /*The height fits to the text*/
    height: 100%;
    background-color: black;
    /*Position the sidebar at the right of the text*/
    position: absolute;
    right: 0;
    top: 0;
    /*Apply the blinkking animation looping in 2 steps: visible -> hidden.*/
    animation: blink 1s infinite steps(2, start);
}

/*Create the blinking animation by simply hide the element.*/
@keyframes blink {
    to{
        visibility: hidden;
    }

}
